# Ignore Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
.env/
.vscode/
venv/  # Ignore the virtual environment directory

# Ignore build artifacts generated during packaging
/build/
/dist/
*.egg-info/

# Ignore test script (if it's not part of the final package)
test_installed_package.py

# Ignore CSV data if you prefer not to include it in the repository
historical_earnings/data/*.csv

# Ignore logs and temporary files
*.log
*.tmp
